<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>	
</head>
<body>
	<div class="container">
		<h2>풀스택반 게시판😎😎</h2>
		<div class="panel panel-default">
			<div class="panel-heading">게시판</div>
			<div class="panel-body" id="list">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>작성일</th>
							<th>삭제</th>
						</tr>
						<!-- 
						<c:forEach items="${list}" var="list">
							<tr>
								<td><a href="board/content/${list.idx}">${list.idx}</a></td>
								<td>${list.title}</td>
								<td>${list.writer}</td>
								<td>${list.indate}</td>
								<td><button class="btn btn-sm btn-success"
										onclick="goDelete(${list.idx})">삭제</button></td>
							</tr>
						</c:forEach>
						 -->
						
						<!-- thymeleaf문법 -->
						<tr th:each="list : ${list}">
							<td th:text="${list.idx}"></td>
							<td><a th:text="${list.title}" th:href="@{board/content/{idx}(idx=${list.idx})}"></a></td>
							<td th:text="${list.writer}"></td>
							<td th:text="${list.indate}"></td>
							<td><button class="btn btn-sm btn-success" th:onclick="goDelete([[${list.idx}]])">삭제</button></td>
						</tr>
						
					</thead>
					<tbody>
						<!-- 게시물 출력 -->
						<tr>
							<td colspan="4">
								<button onclick="location.href='board/writeform'"
									class="btn btn-sm btn-success">글작성</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="panel-footer">FullStack SW융합 실무부트캠프 (담임 : 강예진)</div>
		</div>
	</div>
	<script>
		
	</script>
</body>
</html>