<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.soolsool.mapper.LiquidMapper">
    <select id="findAll" resultType="com.smhrd.soolsool.domain.Liquid">
        SELECT * FROM TB_LIQUID
    </select>
</mapper>
